<div class="article row">
    <div class="single-post">
        <article class="post-wrapper">
            <header class="entry-header-wrapper clearfix sticky">
                <div class="author-thumb waves-effect waves-light">
                    <a href="#">
                        <img src="https://trendytheme.net/demo/matrox/assets/img/blog/author.jpg" alt="">
                    </a>

                </div>
                <div class="entry-header">
                    <h2 class="entry-title">{{article.title}}</h2>
                    <h4 class="entry-title">{{article.subtitle}}</h4>
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-user"></i>
                                {{article.author}}
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                {{ article.created_at }}
                            </li>
                            <li>
                                <i class="fa fa-comment-o"></i>
                                {{article.comments.length}}
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="thumb-wrapper">
                <img src="https://trendytheme.net/demo/matrox/assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="entry-content">
                <p>{{{article.content}}}</p>
            </div>
            <br>
            <br>
            <center>
                <h3>Leave a comment</h3>
                <div class="row">
                    {{#if errors }} {{#each errors }}
                    <div class="msg msg-error z-depth-3 scale-transition"> {{this.msg}} </div>
                    {{/each}} {{/if}}
                </div>

            </center>
            <form action="/articles/comments/add{{article._id}}" method="post">
                <div class="row">
                    <div class="input-field col s12 ">
                        <input id="subject" type="text" name="subject" class="validate">
                        <label for="subject">Enter subject</label>
                    </div>
                </div>


                <div class="row">
                   
                    <div class="input-field col s12">
                         <p>Your comment</p>
                        <textarea class="materialize-textarea" id="comment-body" name="comment"></textarea>
                        
                    </div>
                </div>
                <center>
                    <button class="btn waves-effect waves-light teal green" type="submit">Add Comment</button>
                </center>
            </form>
            
            <ul class="comment">
           
                {{#each article.comments}}

                <li>
                    
                    <div class="comment-info">
                        <a href="#">
                            <img class="avatar" src="https://trendytheme.net/demo/matrox/assets/img/blog/commenter-1.jpg" alt="Jonathon Doe">
                        </a>
                        <h4 class="author-name">{{this.comment_author}}</h4>
                      
                    </div>
                    <div>
                        <p>{{this.comment_subject}}</p>
                    </div>
                    <div class="comment">
                        <p>{{{this.comment_body}}}</p>
                        <span>
                            <i class="fa fa-clock-o"></i>
                            {{ this.comment_d }}</span>
                     <div class="right">
                         {{#if this.comment_isAuthor}}
                            <a class="waves-effect waves-light btn red" href="/users/comment/delete/{{this._id}}/{{this.post_id}}">Delete</a>
                          {{/if}}
                            
                        </div>
                    </div>
                    
                </li>
                   <hr>
                {{/each}}
             

                 
            </ul>
            <a href="#top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light tt-animate btt" data-section="#top">
                <i class="material-icons"></i>
            </a>
        </article>
    </div>
</div>