<div class="container z-depth-2 category_blocks">
    {{#if errors }} {{#each errors }}
    <div class="msg msg-error z-depth-3 scale-transition"> {{this.msg}} </div>
    {{/each}} {{/if}}

    <form class="col s12" action="/categories/edit/{{category.id}}" method="POST">
        <div class="form-container">
            <h3 class="teal-text">{{title}}</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" type="text" name="title" class="validate" value="{{category.title}}">
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" name="description">{{category.description}}</textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <br>
            <center>
                <button class="btn waves-effect waves-light teal green" type="submit">Save</button>
                <a class="waves-effect waves-light btn" href="/manage/categories">Back</a>

                <a class="waves-effect waves-light btn red" id="category-delete" href="/manage/categories" cat-id-data={{category._id}}>Delete</a>

            </center>
        </div>
    </form>

</div>