
<div class="article_blocks" >
    <div class="center-align">
        <h3 class="teal-text">{{title}}</h3>
    </div>

    <hr>

    <div class="col s12">
        <table class="striped">
            <tr>
                <th>User name</th>
                <th>User Role</th>
                <th>Email</th>
                <th></th>
            </tr>
            {{#each users}}
            <tr>
                <td>{{this.name}} {{this.last}}</td>
                <td>{{this.role}}</td>
                <td>{{this.email}}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="/manage/users/{{this._id}}">Full access</a>
                     <a class="waves-effect waves-light btn red" href="/manage/users/delete/{{this._id}}">Delete user</a>
                </td>
            </tr>

            {{/each}}

        </table>

    </div>

</div>